<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="title" content="">
	<meta name="description" content="" />
	<meta name="keywords" content="">
  <script src="../js/lib/jquery-3.7.0.min.js"></script>
  <script src="../js/lib/aos.js"></script>
  <script src="../js/lib/swiper-bundle.min.js"></script>
  <script src="../js/lib/TweenMax.min.js"></script>
  <script src="../js/script.js"></script>

	<link rel="stylesheet" href="../css/lib/aos.css">
	<link rel="stylesheet" href="../css/lib/swiper-bundle.min.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/A_Type.css">
</head>

<body>
  <button class="menu-toggle" aria-label="메뉴">
    <div class="hamburger-icon">
      <span></span>
    </div>
  </button>

  <nav class="nav">
    <ul>
      <li><a href="#">link 1</a></li>
      <li><a href="#">link 2</a></li>
      <li><a href="#">link 3</a></li>
      <li><a href="#">link 4</a></li>
    </ul>
  </nav>

  		<div class="wrap">
			<div class="contents contents01">
				<img src="../images/temp/1_02.jpg" alt="">
			</div>
			<div class="contents contents02">
				<img src="../images/temp/2.jpg" alt="">
			</div>
			<div class="contents contents03">
				<img src="../images/temp/3.jpg" alt="">
			</div>
			<div class="contents contents04">
				<img src="../images/temp/4.jpg" alt="">
			</div>
			<div class="contents contents05">
				<img src="../images/temp/5.jpg" alt="">
			</div>
			<div class="contents contents06">
				<img src="../images/temp/6.jpg" alt="">
			</div>
			<div class="contents contents07">
				<img src="../images/temp/7.jpg" alt="">
			</div>
		</div>

		<!-- [S] 신청하기 버튼 -->
		<div class="btn-ask">
			<div class="inner">
				<img src="../images/temp/btn_02.png" alt="">
				<button onclick="openBottomSheet('sheet-counsel')" class="button btn-click">무료 상담 신청하기</button>
			</div>
		</div>

		<!-- [D] 신청하기 -->
		<div id="sheet-counsel" class="bottom-sheet sheet-counsel">
			<div class="sheet-wrap">
				<div class="sheet-contents">
					<div class="content-title">
						<p class="desc">상담을 위한 최소한의 정보만 수집합니다.</p>
						<h4>아래의 정보를 입력해주세요.</h4>
					</div>
					<div id="inquiry">
						<div class="area_form">
              <div class="impColor">* 필수정보</div>
							<form name="Frm" id="Frm" method="post">
								<div class="form_box">
									<div class="input_item">
										<p class="reqiured">성명</p>
                    <div class="input-wrap">
                      <input type="text" name="user_name" id="user_name" placeholder="예&#41; 김한화" autocomplete="off">
                    </div>
									</div>
									<div class="input_item">
                    <p class="reqiured">전화번호</p>
                    <div class="tel_box">
                      <div class="select_box w-35p">
                        <label></label>
                        <select name="" id="job_div_cd" required>
                          <option value="" disabled selected>선택</option>
                          <option value="01">010</option>
                          <option value="02">011</option>
                          <option value="03">016</option>
                          <option value="04">017</option>
                          <option value="05">018</option>
                          <option value="06">019</option>
                        </select>
                      </div>
                      <div class="input-wrap">
                        <input type="tel" class="onlynumber01" id="user_call01" name="user_call01" maxlength="4" autocomplete="off" v-model="ctp" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                      </div>
                      <div class="input-wrap">
                        <input type="tel" class="onlynumber02" id="user_call02" name="user_call02" maxlength="4" autocomplete="off" v-model="ctp" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                      </div>
                    </div>
									</div>

									<div class="input_item">
										<p class="reqiured">주소</p>
										<ul class="select_box group">
											<li class="select_item">
												<label></label>
												<select name="user_sido" id="user_sido" required>
													<option value="" disabled selected>시/도</option>
													<option value="서울특별시">서울특별시</option>
													<option value="대구광역시">대구광역시</option>
												</select>

											</li>
											<li class="select_item">
												<label></label>
												<select name="user_gugun" id="user_gugun" required>
													<option value="" disabled selected>시/군/구</option>
													<option value="강남구">강남구</option>
												</select>
											</li>
										</ul>
									</div>

									<div class="input_item">
										<p class="reqiured">상담가능시간</p>
										<div class="adviceTime_box">
                      <div class="item">
                        <input type="radio" name="adviceTime_chk" id="am_chk" class="blind" checked>
                        <label for="am_chk">오전</label>
                      </div>
                      <div class="item">
                        <input type="radio" name="adviceTime_chk" id="pm_chk" class="blind">
                        <label for="pm_chk">오후</label>
                      </div>
                    </div>
									</div>

									<div class="input_item">
										<p class="reqiured">연령대</p>
										<div class="select_box w-35p">
											<label></label>
											<select name="" id="payment" required>
												<option value="" disabled selected>선택</option>
												<option value="02">20대</option>
												<option value="03">30대</option>
												<option value="04">40대</option>
												<option value="05">50대</option>
												<option value="06">60대 이상</option>
											</select>
										</div>
									</div>

									<div class="input_item">
										<p class="reqiured">보험경력</p>
										<div class="select_box w-35p">
											<label></label>
											<select name="" id="career" required>
												<option value="" disabled selected>선택</option>
												<option value="01">없음</option>
												<option value="02">생명보험</option>
												<option value="03">손해보험</option>
												<option value="04">둘 다</option>
											</select>
										</div>
									</div>

									<div class="input_item input_item_last">
										<p>직업(선택)</p>
										<div class="select_box w-35p">
											<label></label>
											<select name="" id="job_div_cd" required>
												<option value="" disabled selected>선택</option>
												<option value="01">회사원</option>
												<option value="02">개인사업자</option>
												<option value="03">학생</option>
												<option value="04">주부</option>
												<option value="05">무직</option>
											</select>
										</div>
									</div>
									<p class="career_text">
										* 경력은 직전 3년 이내 1년 이상 생명보험설계사로 활동한 이력을 말하며,<br/> 
										기준 해당 시 자격시험이 면제됩니다.
									</p>
								</div>

								<div class="privacy-box">
									<div class="checkbox-agree">
										<input type="checkbox" name="" id="c_agree" class="blind">
										<label for="c_agree">LIFE MD 상담 진행을 위한 약관 전체에 동의합니다.</label>
									</div>
									<div class="checkbox-privacy">
										<input type="checkbox" name="agree_chk" id="c_terms" class="blind" value="terms">
										<label for="c_terms">LIFE MD 상담 진행을 위한 필수 항목 제공/수집/이용 동의 (필수)</label>
										<a href="javascript:void(0);" class="btn_privacy">자세히보기</a>
									</div>
									<div class="privacyText checkbox-privacy_text">
										(필수) 한화생명금융서비스 LIFE MD 지원 상담을 위해 아래와 같이  개인정보를 수집ㆍ이용 하고자 합니다.
                    <br/><br/>
                    ■ 수집ㆍ이용 목적<br/>
                        한화생명금융서비스 LIFE MD 지원 시 상담 진행 목적<br/>
                        한화생명금융서비스 LIFE MD 정보 및 지원 방법, 위촉 과정 안내 및 <br/>
                        진도 관리 (자격시험, 보험연수원 이수 진도 관리 포함) 
                        <br/><br/>
                    ■ 보유 및 이용기간<br/>
                        동의일로부터 6개월, 
                        <br/><br/>
                    ■ 수집ㆍ이용 항목<br/>
                        성명, 거주지역, 전화번호, 연령대, 상담가능시간, 보험경력
                        <br/><br/>
                    ■ 수집ㆍ이용 대상<br/>
                        한화생명금융서비스
                        <br/><br/>
                    ■ 거부 권리 및 불이익<br/>
                        귀하는 상기 동의를 거부할 수 있습니다.<br/>
                        단, 미동의 시 LIFE MD 직업 안내를 받지 못하며, LIFE MD 지원을<br/>
                      위한 자격시험 응시 및 지원과정 진행이 불가할 수 있습니다. 
									</div>
									<div class="checkbox-counsel">
										<input type="checkbox" name="agree_chk" id="c_counsel" class="blind" value="counsel">
										<label for="c_counsel">LIFE MD 상담 진행을 위한 선택 항목 제공/수집/이용 동의 (선택)</label>
										<a href="javascript:void(0);" class="btn_privacy">자세히보기</a>
									</div>
									<div class="privacyText checkbox-counsel_text">
										(선택) 한화생명금융서비스 LIFE MD 지원 상담을 위해 아래와 같이  개인정보를 수집ㆍ이용 하고자 합니다.
                    <br/><br/>
                    ■ 수집ㆍ이용 목적<br/>
                        한화생명금융서비스 LIFE MD 지원 시 상담 진행 목적<br/>
                        한화생명금융서비스 LIFE MD 정보 및 지원 방법, 위촉 과정 안내 및 <br/>
                        진도 관리 (자격시험, 보험연수원 이수 진도 관리 포함) 
                        <br/><br/>
                    ■ 보유 및 이용기간<br/>
                        동의일로부터 6개월
                        <br/><br/>
                    ■ 수집ㆍ이용 항목<br/>
                        직업
                        <br/><br/>
                    ■ 수집ㆍ이용 대상<br/>
                        한화생명금융서비스
                        <br/><br/>
                    ■ 거부 권리 및 불이익<br/>
                        귀하는 상기 동의를 거부할 수 있습니다.<br/>
                        단, 미동의 시 LIFE MD 직업 안내 시 제한이 있을 수 있으며, <br/>
                        LIFE MD 지원을 위한 자격시험 응시 및 지원과정 진행이 불가할 수<br/>
                        있습니다. 
									</div>
								</div>
							</form>
						</div>
						<div class="area_button">
							<button type="button" class="button btn_submit btn-click" data-title="상담신청 확인" onclick="save()" id="sendButton" disabled >신청 완료</button>
							<input type="hidden" id="is_saved" value="N">
						</div>
					</div>
				</div>

        <button onclick="closeAll(); init_value();" class="close-button btn-click" data-title="상담신청 닫기">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="36" height="36" fill="none">
            <path fill="#222" d="M21.172 24 5.586 8.414l2.828-2.828L24 21.17 39.586 5.586l2.828 2.828L26.83 24l15.585 15.586-2.828 2.828L24 26.828 8.414 42.414l-2.828-2.828L21.172 24Z"/>
          </svg>
        </button>
			</div>
		</div>
</body>
</html>